<div class="container">
  <div class="row">
    <div class="col text-center pt-4">
      <img src="img/raja.jpg" alt="Raja" width="200px" class="shadow img-thumbnail rounded-circle" />
      <h1 class="display-4">Raja Mahendra</h1>
      <p class="lead">Student | Dog & Cat Lover</p>
    </div>
  </div>
</div>
